fastapi==0.110.1
aiomysql
alembic
anyio
Authlib
certifi
cffi
click
colorama
cryptography
dynaconf
exceptiongroup
fastapi-authlib
fastapi-sa
greenlet
h11
httpcore
httpx
idna
inflection
itsdangerous
Jinja2
Mako
MarkupSafe
pycparser
pydantic
PyJWT
PyMySQL
python-dotenv
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn